<h1>Listing articles</h1>

    <% @articles.each do |article| %>
      <div>
        <h2><%= article.title %>
        <h3><%= publication_status(article) %></h3>
        <h4><%= article.author %></h4>
        <p><%= article.content %></p>
      </div>
      <hr>
    <% end %>

<br>

<%= link_to 'New Article', new_article_path %>
